body {
    background-color: #DDDDDD;
    font-family: YuGothicM, Meiryo;
}

button {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.video-table {
    width: 100%;
    text-align: center;
}

.input-range[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #c7c7c7;
    height: 2px;
    vertical-align: middle;
}

.input-range {
    cursor: pointer;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.input-range[type="range"]:focus {
    outline: none;
}

.input-range[type="range"]:active {
    outline: none;
}

.input-range[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border: none;
    width: 12px;
    height: 12px;
    display: block;
    background-color: #262626;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.input-range[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .6);
    transition: .4s;
}